# Data Structures

# Lists

## `sort`

In [97]:
x = [10, 60, 90, 100, -5]

In [98]:
print(x)

[10, 60, 90, 100, -5]

In [99]:
x.sort()

In [100]:
x

[-5, 10, 60, 90, 100]

In [101]:
y = [0,1,2,3,4]

In [102]:
y.sort(reverse=True)

In [103]:
y

[4, 3, 2, 1, 0]

In [104]:
things = ['apple', 'ape', 'dog', 'cat']
print(things)
things.sort()
print(things)
things.sort(reverse=True)
print(things)

['apple', 'ape', 'dog', 'cat']
['ape', 'apple', 'cat', 'dog']
['dog', 'cat', 'apple', 'ape']

## `count`

In [105]:
x = [1,2,2,2,3,5]

In [106]:
x.count(-1)

0

In [107]:
x.count(1)

1

In [108]:
x.count(3)

1

In [109]:
x.count(2)

3

## `pop`

In [110]:
y = [10, 20, 30, 40, 50]

In [111]:
y.pop(2)

30

In [112]:
print(y)

[10, 20, 40, 50]

In [113]:
y.pop(1)

20

In [114]:
y

[10, 40, 50]

In [115]:
y.pop()

50

In [116]:
y

[10, 40]

## `remove`

In [117]:
some_stuff = ['hello', 'bye', 1, 2, -10, 'good', 'bad', 3.14, 'hello']
print(some_stuff)

['hello', 'bye', 1, 2, -10, 'good', 'bad', 3.14, 'hello']

In [118]:
some_stuff.remove('hello')

In [119]:
some_stuff

['bye', 1, 2, -10, 'good', 'bad', 3.14, 'hello']

In [120]:
some_stuff.remove(3.14)

In [121]:
some_stuff

['bye', 1, 2, -10, 'good', 'bad', 'hello']

In [122]:
some_stuff.remove('chris') # not in the list so returns an error

ValueError: list.remove(x): x not in list

## List Comprehension

In [123]:
numbers = []
for i in range(11):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
[i for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [125]:
numbers = [x for x in range(11)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

`[expression for item in iterable]`

In [126]:
[x * x for x in range(5)]

[0, 1, 4, 9, 16]

In [127]:
print([character for character in 'Hello there! Hope you have a great day!'])

['H', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e', '!', ' ', 'H', 'o', 'p', 'e', ' ', 'y', 'o', 'u', ' ', 'h', 'a', 'v', 'e', ' ', 'a', ' ', 'g', 'r', 'e', 'a', 't', ' ', 'd', 'a', 'y', '!']

In [128]:
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
[x for x in numbers]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [130]:
[x * x for x in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [131]:
[x - x for x in numbers]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [132]:
[x + x for x in numbers]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [133]:
[str(x) for x in numbers]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [134]:
# use conditionals
numbers = [x for x in range(21)]
print(numbers)
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [135]:
# or could do above in one line
[x for x in range(21) if x % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [136]:
[x for x in range(21) if 5 < x < 17]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [137]:
[x for x in range(21) if x - 5 > 6]

[12, 13, 14, 15, 16, 17, 18, 19, 20]

In [138]:
[x for x in range(21) if True]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [139]:
[x for x in range(21) if False]

[]

In [140]:
# use enumerate
some_stuff = ['Chris', True, False, 1, 2, 10.8]

In [141]:
[x for x in some_stuff]

['Chris', True, False, 1, 2, 10.8]

In [142]:
[x for i,x in enumerate(some_stuff)]

['Chris', True, False, 1, 2, 10.8]

In [143]:
[i for i,x in enumerate(some_stuff)]

[0, 1, 2, 3, 4, 5]

In [144]:
[[i,x] for i,x in enumerate(some_stuff)]

[[0, 'Chris'], [1, True], [2, False], [3, 1], [4, 2], [5, 10.8]]

In [145]:
countries = ['Canada', 'USA', 'Mexico']
populations = [38000000, 328000000, 126000000]

In [146]:
# not using list comprehension
country_stats = []
for c,p in zip(countries, populations):
    country_stats.append([c,p])
print(country_stats)

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [147]:
# build above thing in less lines of code using list comprehension

In [148]:
country_stats = [[c, p] for c,p in zip(countries, populations)]
print(country_stats)

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [149]:
country_stats

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [150]:
[x for x in country_stats]

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [151]:
[x[0] for x in country_stats]

['Canada', 'USA', 'Mexico']

In [152]:
[x[1] for x in country_stats]

[38000000, 328000000, 126000000]

In [153]:
country_stats

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [154]:
[value for stats in country_stats for value in stats]

['Canada', 38000000, 'USA', 328000000, 'Mexico', 126000000]

In [155]:
# redo above without list comprehension
values = []
for stats in country_stats:
    for value in stats:
        values.append(value)
print(values)

['Canada', 38000000, 'USA', 328000000, 'Mexico', 126000000]