# Data Structures

# Lists

## `sort`

In [1]:
x = [10, 60, 90, 100, -5]

In [2]:
print(x)

[10, 60, 90, 100, -5]

In [3]:
x.sort()

In [4]:
x

[-5, 10, 60, 90, 100]

In [5]:
y = [0,1,2,3,4]

In [6]:
y.sort(reverse=True)

In [7]:
y

[4, 3, 2, 1, 0]

In [8]:
things = ['apple', 'ape', 'dog', 'cat']
print(things)
things.sort()
print(things)
things.sort(reverse=True)
print(things)

['apple', 'ape', 'dog', 'cat']
['ape', 'apple', 'cat', 'dog']
['dog', 'cat', 'apple', 'ape']

## `count`

In [9]:
x = [1,2,2,2,3,5]

In [10]:
x.count(-1)

0

In [11]:
x.count(1)

1

In [12]:
x.count(3)

1

In [13]:
x.count(2)

3

## `pop`

In [14]:
y = [10, 20, 30, 40, 50]

In [15]:
y.pop(2)

30

In [16]:
print(y)

[10, 20, 40, 50]

In [17]:
y.pop(1)

20

In [18]:
y

[10, 40, 50]

In [19]:
y.pop()

50

In [20]:
y

[10, 40]

## `remove`

In [21]:
some_stuff = ['hello', 'bye', 1, 2, -10, 'good', 'bad', 3.14, 'hello']
print(some_stuff)

['hello', 'bye', 1, 2, -10, 'good', 'bad', 3.14, 'hello']

In [22]:
some_stuff.remove('hello')

In [23]:
some_stuff

['bye', 1, 2, -10, 'good', 'bad', 3.14, 'hello']

In [24]:
some_stuff.remove(3.14)

In [25]:
some_stuff

['bye', 1, 2, -10, 'good', 'bad', 'hello']

In [26]:
some_stuff.remove('chris') # not in the list so returns an error

ValueError: list.remove(x): x not in list

## List Comprehension

In [27]:
numbers = []
for i in range(11):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
[i for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
numbers = [x for x in range(11)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

`[expression for item in iterable]`

In [30]:
[x * x for x in range(5)]

[0, 1, 4, 9, 16]

In [31]:
print([character for character in 'Hello there! Hope you have a great day!'])

['H', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e', '!', ' ', 'H', 'o', 'p', 'e', ' ', 'y', 'o', 'u', ' ', 'h', 'a', 'v', 'e', ' ', 'a', ' ', 'g', 'r', 'e', 'a', 't', ' ', 'd', 'a', 'y', '!']

In [32]:
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
[x for x in numbers]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
[x * x for x in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
[x - x for x in numbers]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [36]:
[x + x for x in numbers]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [37]:
[str(x) for x in numbers]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [38]:
# use conditionals
numbers = [x for x in range(21)]
print(numbers)
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
# or could do above in one line
[x for x in range(21) if x % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
[x for x in range(21) if 5 < x < 17]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [41]:
[x for x in range(21) if x - 5 > 6]

[12, 13, 14, 15, 16, 17, 18, 19, 20]

In [42]:
[x for x in range(21) if True]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [43]:
[x for x in range(21) if False]

[]

In [44]:
# use enumerate
some_stuff = ['Chris', True, False, 1, 2, 10.8]

In [45]:
[x for x in some_stuff]

['Chris', True, False, 1, 2, 10.8]

In [46]:
[x for i,x in enumerate(some_stuff)]

['Chris', True, False, 1, 2, 10.8]

In [47]:
[i for i,x in enumerate(some_stuff)]

[0, 1, 2, 3, 4, 5]

In [48]:
[[i,x] for i,x in enumerate(some_stuff)]

[[0, 'Chris'], [1, True], [2, False], [3, 1], [4, 2], [5, 10.8]]

In [49]:
countries = ['Canada', 'USA', 'Mexico']
populations = [38000000, 328000000, 126000000]

In [50]:
# not using list comprehension
country_stats = []
for c,p in zip(countries, populations):
    country_stats.append([c,p])
print(country_stats)

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [51]:
# build above thing in less lines of code using list comprehension

In [52]:
country_stats = [[c, p] for c,p in zip(countries, populations)]
print(country_stats)

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [53]:
country_stats

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [54]:
[x for x in country_stats]

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [55]:
[x[0] for x in country_stats]

['Canada', 'USA', 'Mexico']

In [56]:
[x[1] for x in country_stats]

[38000000, 328000000, 126000000]

In [57]:
country_stats

[['Canada', 38000000], ['USA', 328000000], ['Mexico', 126000000]]

In [58]:
[value for stats in country_stats for value in stats]

['Canada', 38000000, 'USA', 328000000, 'Mexico', 126000000]

In [59]:
# redo above without list comprehension
values = []
for stats in country_stats:
    for value in stats:
        values.append(value)
print(values)

['Canada', 38000000, 'USA', 328000000, 'Mexico', 126000000]

# Tuples

In [60]:
x = (1, 2, 3)

In [61]:
x

(1, 2, 3)

In [62]:
type(x)

tuple

In [63]:
len(x)

3

In [64]:
x[0]

1

In [65]:
x[1]

2

In [66]:
x[2]

3

In [67]:
x[-1]

3

In [68]:
x[0] = 2

TypeError: 'tuple' object does not support item assignment

In [69]:
x.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [70]:
x.pop(1)

AttributeError: 'tuple' object has no attribute 'pop'

In [71]:
y = 1,1,1

In [72]:
print(y)

(1, 1, 1)

In [73]:
type(y)

tuple

In [74]:
nested_tuple = ((0,0), (1,2), (1,3), (9,9))

In [75]:
nested_tuple[-1]

(9, 9)

In [76]:
nested_tuple[-2]

(1, 3)

In [77]:
nested_tuple[-2][0]

1

In [78]:
nested_tuple[-2][1]

3

In [79]:
x = (1)

In [80]:
x

1

In [81]:
type(x)

int

In [82]:
x = (1,)

In [83]:
x

(1,)

In [84]:
type(x)

tuple

In [85]:
len(x)

1

In [86]:
x[0]

1

In [87]:
x[1]

IndexError: tuple index out of range

In [88]:
t = ('hello world', 1, True, False, 'Bye')

In [89]:
print(t)

('hello world', 1, True, False, 'Bye')

In [90]:
type(t)

tuple

In [91]:
len(t)

5

In [92]:
print(t)
a, b, c, d, e = t

('hello world', 1, True, False, 'Bye')

In [93]:
a

'hello world'

In [94]:
b

1

In [95]:
c

True

In [96]:
d

False

In [97]:
e

'Bye'

In [98]:
print(some_stuff) # list defined earlier

['Chris', True, False, 1, 2, 10.8]

In [99]:
[type(x) for x in enumerate(some_stuff)]

[tuple, tuple, tuple, tuple, tuple, tuple]

In [100]:
[x for x in enumerate(some_stuff)]

[(0, 'Chris'), (1, True), (2, False), (3, 1), (4, 2), (5, 10.8)]

In [101]:
[a for a,b in enumerate(some_stuff)]

[0, 1, 2, 3, 4, 5]

In [102]:
[b for a,b in enumerate(some_stuff)]

['Chris', True, False, 1, 2, 10.8]

In [103]:
data = [(0,-1,2), (0,4,8), (-2,-2,5), (4,5,6)]

In [104]:
for d in data:
    print(d)

(0, -1, 2)
(0, 4, 8)
(-2, -2, 5)
(4, 5, 6)

In [105]:
for a,b,c in data:
    print(f'{a} + {b} + {c} is {a + b + c}.')

0 + -1 + 2 is 1.
0 + 4 + 8 is 12.
-2 + -2 + 5 is 1.
4 + 5 + 6 is 15.

In [106]:
data

[(0, -1, 2), (0, 4, 8), (-2, -2, 5), (4, 5, 6)]

In [107]:
data.append('Chris')

In [108]:
data

[(0, -1, 2), (0, 4, 8), (-2, -2, 5), (4, 5, 6), 'Chris']

In [109]:
data.pop(0)

(0, -1, 2)

In [110]:
data

[(0, 4, 8), (-2, -2, 5), (4, 5, 6), 'Chris']

In [111]:
data[2] = False

In [112]:
data

[(0, 4, 8), (-2, -2, 5), False, 'Chris']

In [113]:
data[0]

(0, 4, 8)

In [114]:
data[0][-1] = 9

TypeError: 'tuple' object does not support item assignment

In [115]:
def do_something(a,b,c,d):
    result1 = a + b
    result2 = c + d
    return result1, result2

In [116]:
do_something(1,2,3,4)

(3, 7)

In [117]:
x = do_something(1,2,3,4)

In [118]:
x

(3, 7)

In [119]:
q,w = do_something(1,2,3,4)

In [120]:
q

3

In [121]:
w

7

# Dictionaries

In [122]:
ages = {'Chris': 35, 'Joanna': 37, 'Penny': 11}

In [123]:
print(ages)

{'Chris': 35, 'Joanna': 37, 'Penny': 11}

In [124]:
type(ages)

dict

In [125]:
len(ages)

3

## `keys()`

In [126]:
ages.keys()

dict_keys(['Chris', 'Joanna', 'Penny'])

In [127]:
list(ages.keys())

['Chris', 'Joanna', 'Penny']

## `values()`

In [128]:
ages.values()

dict_values([35, 37, 11])

In [129]:
list(ages.values())

[35, 37, 11]

In [130]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11}

In [131]:
list(ages)

['Chris', 'Joanna', 'Penny']

## Extracting and Storing Values

In [132]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11}

In [133]:
ages['Penny']

11

In [134]:
ages['Chris']

35

In [135]:
ages['Joanna']

37

In [136]:
ages['Hazel']

KeyError: 'Hazel'

In [137]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11}

In [138]:
ages['Hazel'] = 7

In [139]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11, 'Hazel': 7}

In [140]:
ages['Isaac'] = 9

In [141]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11, 'Hazel': 7, 'Isaac': 9}

In [142]:
print(list(ages.keys()))

['Chris', 'Joanna', 'Penny', 'Hazel', 'Isaac']

In [143]:
print(list(ages.values()))

[35, 37, 11, 7, 9]

In [144]:
ages['Isaac']

9

In [145]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11, 'Hazel': 7, 'Isaac': 9}

In [146]:
ages['Hazel']

7

In [147]:
ages['Karen']

KeyError: 'Karen'

## `in`

In [148]:
names = ['Larry', 'Joanna', 'Karen', 'Hazel', 'Isaac', 'Penny', 'Chris', 'Matt', 'Jen']

In [149]:
len(names)

9

In [150]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11, 'Hazel': 7, 'Isaac': 9}

In [151]:
'Chris' in ages

True

In [152]:
'Matt' in ages

False

In [153]:
35 in ages

False

In [154]:
35 in ages.values()

True

In [155]:
'Chris' in ages.keys()

True

In [156]:
9 in ages # same as 9 in ages.keys()

False

In [157]:
9 in ages.keys()

False

In [158]:
9 in ages.values()

True

In [159]:
names

['Larry', 'Joanna', 'Karen', 'Hazel', 'Isaac', 'Penny', 'Chris', 'Matt', 'Jen']

In [160]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11, 'Hazel': 7, 'Isaac': 9}

In [161]:
for name in names:
    if name in ages:
        print(f'{name} is in the dictionary ages and the age is {ages[name]}.')
    else:
        print(f'{name} is not in the dictionary ages so we do not know the age.')

Larry is not in the dictionary ages so we do not know the age.
Joanna is in the dictionary ages and the age is 37.
Karen is not in the dictionary ages so we do not know the age.
Hazel is in the dictionary ages and the age is 7.
Isaac is in the dictionary ages and the age is 9.
Penny is in the dictionary ages and the age is 11.
Chris is in the dictionary ages and the age is 35.
Matt is not in the dictionary ages so we do not know the age.
Jen is not in the dictionary ages so we do not know the age.

## Different ways to create

In [162]:
# we already saw this method. Here is a random dict
my_dict = {1: 3, 5: 9, 10: 'hello world', 'bye': 3.14}

In [163]:
my_dict

{1: 3, 5: 9, 10: 'hello world', 'bye': 3.14}

In [164]:
list_of_ages = [('Joanna', 37), ('Chris', 35), ('Penny', 11)]

In [165]:
dict(list_of_ages)

{'Joanna': 37, 'Chris': 35, 'Penny': 11}

In [166]:
dict(Joanna=1, Chris=35, Penny=11)

{'Joanna': 1, 'Chris': 35, 'Penny': 11}

In [167]:
# dict comprehension
# first, manual method
numbers_squared = {
    0: 0 * 0, 
    1: 1 * 1, 
    2: 2 * 2, 
    3: 3 * 3,
    4: 4 * 4,
    5: 5 * 5,
    6: 6 * 6,
    7: 7 * 7,
    8: 8 * 8,
    9: 9 * 9
}
numbers_squared

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [168]:
# We can use a dict comprehension to generate the above dictionary.
numbers_squared = {x: x * x for x in range(10)}
numbers_squared

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Looping techniques

In [169]:
ages

{'Chris': 35, 'Joanna': 37, 'Penny': 11, 'Hazel': 7, 'Isaac': 9}

In [170]:
numbers_squared

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [171]:
for k in ages:
    print(k)

Chris
Joanna
Penny
Hazel
Isaac

In [172]:
for k in numbers_squared:
    print(k)

0
1
2
3
4
5
6
7
8
9

In [173]:
for k in ages:
    print(k, ages[k])

Chris 35
Joanna 37
Penny 11
Hazel 7
Isaac 9

In [174]:
for k in numbers_squared:
    print(k, numbers_squared[k])

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [175]:
for k,v in ages.items():
    print(k, v)

Chris 35
Joanna 37
Penny 11
Hazel 7
Isaac 9

In [176]:
for k,v in numbers_squared.items():
    print(k,v)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [177]:
ages = {}

In [178]:
print(ages)

{}

In [179]:
type(ages)

dict

In [180]:
names_list = ['Larry', 'Joanna', 'Karen', 'Hazel', 'Isaac', 'Penny', 'Chris', 'Matt', 'Jen']

In [181]:
ages_list = [60, 37, 58, 7, 9, 11, 35, 38, 40]

In [182]:
ages

{}

In [183]:
ages = {}
for name, age in zip(names_list, ages_list):
    print(f'storing the age {age} for name {name}')
    ages[name] = age
    print(ages)

storing the age 60 for name Larry
{'Larry': 60}
storing the age 37 for name Joanna
{'Larry': 60, 'Joanna': 37}
storing the age 58 for name Karen
{'Larry': 60, 'Joanna': 37, 'Karen': 58}
storing the age 7 for name Hazel
{'Larry': 60, 'Joanna': 37, 'Karen': 58, 'Hazel': 7}
storing the age 9 for name Isaac
{'Larry': 60, 'Joanna': 37, 'Karen': 58, 'Hazel': 7, 'Isaac': 9}
storing the age 11 for name Penny
{'Larry': 60, 'Joanna': 37, 'Karen': 58, 'Hazel': 7, 'Isaac': 9, 'Penny': 11}
storing the age 35 for name Chris
{'Larry': 60, 'Joanna': 37, 'Karen': 58, 'Hazel': 7, 'Isaac': 9, 'Penny': 11, 'Chris': 35}
storing the age 38 for name Matt
{'Larry': 60, 'Joanna': 37, 'Karen': 58, 'Hazel': 7, 'Isaac': 9, 'Penny': 11, 'Chris': 35, 'Matt': 38}
storing the age 40 for name Jen
{'Larry': 60, 'Joanna': 37, 'Karen': 58, 'Hazel': 7, 'Isaac': 9, 'Penny': 11, 'Chris': 35, 'Matt': 38, 'Jen': 40}

In [184]:
ages

{'Larry': 60,
 'Joanna': 37,
 'Karen': 58,
 'Hazel': 7,
 'Isaac': 9,
 'Penny': 11,
 'Chris': 35,
 'Matt': 38,
 'Jen': 40}

## Keys are unique

In [185]:
ages

{'Larry': 60,
 'Joanna': 37,
 'Karen': 58,
 'Hazel': 7,
 'Isaac': 9,
 'Penny': 11,
 'Chris': 35,
 'Matt': 38,
 'Jen': 40}

In [186]:
list(ages.keys())

['Larry', 'Joanna', 'Karen', 'Hazel', 'Isaac', 'Penny', 'Chris', 'Matt', 'Jen']

In [187]:
list(ages.values())

[60, 37, 58, 7, 9, 11, 35, 38, 40]

In [188]:
ages['Larry']

60

In [189]:
ages['Henry']

KeyError: 'Henry'

In [190]:
'Henry' in ages

False

In [191]:
'Henry' not in ages

True

In [192]:
ages['Henry'] = 'eleven years old'

In [193]:
ages

{'Larry': 60,
 'Joanna': 37,
 'Karen': 58,
 'Hazel': 7,
 'Isaac': 9,
 'Penny': 11,
 'Chris': 35,
 'Matt': 38,
 'Jen': 40,
 'Henry': 'eleven years old'}

In [194]:
ages['Henry']

'eleven years old'

In [195]:
ages['Henry'] = 11

In [196]:
ages

{'Larry': 60,
 'Joanna': 37,
 'Karen': 58,
 'Hazel': 7,
 'Isaac': 9,
 'Penny': 11,
 'Chris': 35,
 'Matt': 38,
 'Jen': 40,
 'Henry': 11}

In [197]:
for k, v in ages.items():
    print(f'{k} is {v} years old.')

Larry is 60 years old.
Joanna is 37 years old.
Karen is 58 years old.
Hazel is 7 years old.
Isaac is 9 years old.
Penny is 11 years old.
Chris is 35 years old.
Matt is 38 years old.
Jen is 40 years old.
Henry is 11 years old.

# Sets

In [198]:
fruits_list = ['oranges', 'grapefruits', 'mandarins', 'limes', 'limes', 'apple', 'apple']
print(fruits_list)

['oranges', 'grapefruits', 'mandarins', 'limes', 'limes', 'apple', 'apple']

In [199]:
fruits_set = set(fruits_list)
print(fruits_set)
type(fruits_set)

{'apple', 'mandarins', 'grapefruits', 'oranges', 'limes'}

set

In [200]:
my_set_of_stuff = {'Hello', 10, 20, True, False, 3.14159, 'a', False, True, 20}

In [201]:
my_set_of_stuff

{10, 20, 3.14159, False, 'Hello', True, 'a'}

In [202]:
x = set()
type(x)

set

In [203]:
x

set()

In [204]:
y = {} # will be a dict and not a set

In [205]:
y

{}

In [206]:
type(y)

dict

## `add()`

In [207]:
x = set()

In [208]:
x

set()

In [209]:
x.add('HELLO')

In [210]:
x

{'HELLO'}

In [211]:
x.add(True)

In [212]:
x

{'HELLO', True}

In [213]:
for i in range(11):
    if 3 < i < 7:
        x.add(i)

In [214]:
x

{4, 5, 6, 'HELLO', True}

In [215]:
5 in x

True

In [216]:
4 in x

True

In [217]:
7 in x

False

## `remove()`

In [218]:
print(x)

{'HELLO', True, 4, 5, 6}

In [219]:
x.remove(8)

KeyError: 8

In [220]:
x.remove('HELLO')

In [221]:
x

{True, 4, 5, 6}

In [222]:
x.remove(5)

In [223]:
x

{True, 4, 6}

In [224]:
x

{True, 4, 6}

In [225]:
x.add(6)

In [226]:
x.add(6)

In [227]:
x

{True, 4, 6}

# Function `*args` and `**kwargs`

## `*args`

In [228]:
def add_numbers(a, b):
    return a + b

In [229]:
add_numbers(1,2)

3

In [230]:
def add_numbers(*args):
    print(args)
    print(type(args))

In [231]:
add_numbers()

()
<class 'tuple'>

In [232]:
add_numbers(1)

(1,)
<class 'tuple'>

In [233]:
add_numbers(1, 2)

(1, 2)
<class 'tuple'>

In [234]:
add_numbers(1,2,4)

(1, 2, 4)
<class 'tuple'>

In [235]:
add_numbers(1,2,4, -9)

(1, 2, 4, -9)
<class 'tuple'>

In [236]:
def add_numbers(*args):
    return sum(args)

In [237]:
add_numbers()

0

In [238]:
add_numbers(1,2,3)

6

In [239]:
add_numbers(10,20,30,40,50,60)

210

In [240]:
def do_stuff_with_args(*args):
    print(f'You passed {len(args)} positional arguments.')
    print(f'These positional arguments are available in the tuple {args}.')
    for i,x in enumerate(args):
        print(f'The argument at position {i} is {x}.')
    print('We will return the last argument:')
    return args[-1]

In [241]:
do_stuff_with_args(1,2,3)

You passed 3 positional arguments.
These positional arguments are available in the tuple (1, 2, 3).
The argument at position 0 is 1.
The argument at position 1 is 2.
The argument at position 2 is 3.
We will return the last argument:

3

In [242]:
do_stuff_with_args('HI', 'BYE', True, False, 3.14159)

You passed 5 positional arguments.
These positional arguments are available in the tuple ('HI', 'BYE', True, False, 3.14159).
The argument at position 0 is HI.
The argument at position 1 is BYE.
The argument at position 2 is True.
The argument at position 3 is False.
The argument at position 4 is 3.14159.
We will return the last argument:

3.14159

In [243]:
def do_stuff_with_args(*stuff):
    print(f'You passed {len(stuff)} positional arguments.')
    print(f'These positional arguments are available in the tuple {stuff}.')
    for i,x in enumerate(stuff):
        print(f'The argument at position {i} is {x}.')
    print('We will return the last argument:')
    return stuff[-1]

In [244]:
do_stuff_with_args(3+4, 6+4)

You passed 2 positional arguments.
These positional arguments are available in the tuple (7, 10).
The argument at position 0 is 7.
The argument at position 1 is 10.
We will return the last argument:

10

## `**kwargs`

In [245]:
def get_person_details(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [246]:
get_person_details(name='Chris', age=26, city='Halifax')

{'name': 'Chris', 'age': 26, 'city': 'Halifax'}
<class 'dict'>

In [247]:
def get_person_details(**kwargs):
    for k,v in kwargs.items():
        print(f'The argument {k} has the value {v}.')

In [248]:
get_person_details(name='Chris', age=26, city='Halifax', country='Canada')

The argument name has the value Chris.
The argument age has the value 26.
The argument city has the value Halifax.
The argument country has the value Canada.

In [249]:
def get_person_details(**details):
    for k,v in details.items():
        print(f'The argument {k} has the value {v}.')

get_person_details(name='Joanna', age=37)

The argument name has the value Joanna.
The argument age has the value 37.

## Ordering of Arguments

In [250]:
def get_person_details(*args, **kwargs):
    print(args) # tuple
    print(kwargs) # dictionary

In [251]:
get_person_details('Chris', 36, city='Halifax', country='Canada')

('Chris', 36)
{'city': 'Halifax', 'country': 'Canada'}

Just remember that positional arguments come before keyword arguments. In general, the ordering for arguments is:

- regular positional arguments

- *args

- regular keyword arguments

- **kwargs

In [252]:
def get_person_details(name, age, *args, country='Canada', **kwargs):
    print(f'Name is {name}.')
    print(f'Age is {age}.')
    print(f'Country is {country}.')
    
    print(f'Other positional arguments given were {args}.')
    
    print(f'Other keyword arguments given were:')
    for k,v in kwargs.items():
        print(f'{k}: {v}')

In [253]:
get_person_details('Chris', 
                   35, 
                   'Short hair', 
                   '6 feet tall', 
                   hair_color='brown', 
                   eye_color='blue',
                   sport='basketball',
                   movie='LOTR')

Name is Chris.
Age is 35.
Country is Canada.
Other positional arguments given were ('Short hair', '6 feet tall').
Other keyword arguments given were:
hair_color: brown
eye_color: blue
sport: basketball
movie: LOTR