# Intro to Functions

In [1]:
print('Hello World')

Hello World

In [2]:
str(12456)

'12456'

In [3]:
x = len('Hello')

In [4]:
print(x)

5

## Built-in Python Functions

### `abs()`

In [5]:
abs(5)

5

In [6]:
abs(-5)

5

### `max()` and `min()`

In [7]:
max(1,2)

2

In [8]:
min(1,2)

1

In [9]:
max(1, 2, 5, 8)

8

In [10]:
min(1, 2, 5, 8)

1

In [11]:
max([1,10,12,10,50,-10,100,-100,1000])

1000

In [12]:
min([1,10,12,10,50,-10,100,-100,1000])

-100

### `round()`

In [13]:
round(3.14)

3

In [14]:
round(2.51)

3

In [15]:
round(3.14,0)

3.0

In [16]:
round(3.1459,2)

3.15

In [17]:
round(10.12346, 4)

10.1235

### `sum()`

In [18]:
sum([1, 2, 3])

6

### `enumerate()`

In [19]:
for x in [0, 2, 4, 6, 8, 10]:
    print(x)

0
2
4
6
8
10

In [20]:
for i, x in enumerate([0, 2, 4, 6, 8, 10]):
    print(i, x)

0 0
1 2
2 4
3 6
4 8
5 10

In [21]:
for i, x in enumerate([0,2,4,6,8,10]):
    print(f'The position of the item is {i} and the value of the item is {x}.')

The position of the item is 0 and the value of the item is 0.
The position of the item is 1 and the value of the item is 2.
The position of the item is 2 and the value of the item is 4.
The position of the item is 3 and the value of the item is 6.
The position of the item is 4 and the value of the item is 8.
The position of the item is 5 and the value of the item is 10.

### `zip()`

In [22]:
x = [1, 2, 3]
y = [4, 5, 6]

for i,j in zip(x,y):
    print(i,j)

1 4
2 5
3 6

In [23]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

for a,b,c in zip(x,y,z):
    print(a,b,c)

1 4 7
2 5 8
3 6 9

# Defining your own functions

## DRY (Don’t Repeat Yourself)¶

In [24]:
name1 = 'Isaac'
age1 = 9
name2 = 'Chris'
age2 = 35
name3 = 'Joanna'
age3 = 37
name4 = 'Penelope'
age4 = 10
name5 = 'Hazel'
age5 = 7

print(f'{name1} is {age1} years old.')
print(f'{name2} is {age2} years old.')
print(f'{name3} is {age3} years old.')
print(f'{name4} is {age4} years old.')
print(f'{name5} is {age5} years old.')

Isaac is 9 years old.
Chris is 35 years old.
Joanna is 37 years old.
Penelope is 10 years old.
Hazel is 7 years old.

In [25]:
def print_person_info(name, age):
    print(f'{name} is {age} years old.')

In [26]:
name1 = 'Isaac'
age1 = 9
name2 = 'Chris'
age2 = 35
name3 = 'Joanna'
age3 = 37
name4 = 'Penelope'
age4 = 10
name5 = 'Hazel'
age5 = 7

print_person_info(name1, age1)
print_person_info(name2, age2)
print_person_info(name3, age3)
print_person_info(name4, age4)
print_person_info(name5, age5)

Isaac is 9 years old.
Chris is 35 years old.
Joanna is 37 years old.
Penelope is 10 years old.
Hazel is 7 years old.

In [27]:
def print_person_info(name, age):
    print(f'{name} is {age} years old and they are a very nice person.')

In [28]:
name1 = 'Isaac'
age1 = 9
name2 = 'Chris'
age2 = 35
name3 = 'Joanna'
age3 = 37
name4 = 'Penelope'
age4 = 10
name5 = 'Hazel'
age5 = 7

print_person_info(name1, age1)
print_person_info(name2, age2)
print_person_info(name3, age3)
print_person_info(name4, age4)
print_person_info(name5, age5)

Isaac is 9 years old and they are a very nice person.
Chris is 35 years old and they are a very nice person.
Joanna is 37 years old and they are a very nice person.
Penelope is 10 years old and they are a very nice person.
Hazel is 7 years old and they are a very nice person.

In [29]:
people = [['Issac', 9], ['Chris', 35], ['Joanna', 37], ['Penelope', 10], ['Hazel', 7]]

In [30]:
len(people)

5

In [31]:
people[0]

['Issac', 9]

In [32]:
people[-1]

['Hazel', 7]

In [33]:
people[0][0]

'Issac'

In [34]:
people[-1][1]

7

In [35]:
def print_person_info(name, age):
    print(f'{name} is {age} years old and they are a very nice person.')
    
people = [['Issac', 9], ['Chris', 35], ['Joanna', 37], ['Penelope', 10], ['Hazel', 7]] 
for person in people:
    print_person_info(person[0], person[1])

Issac is 9 years old and they are a very nice person.
Chris is 35 years old and they are a very nice person.
Joanna is 37 years old and they are a very nice person.
Penelope is 10 years old and they are a very nice person.
Hazel is 7 years old and they are a very nice person.

## Let's start simple

In [36]:
def hello_world1():
    print('Hello World!')

def hello_world2():
    print('Hello World!')

In [37]:
hello_world1()

Hello World!

In [38]:
hello_world2()

Hello World!

In [39]:
hello_world3()

NameError: name 'hello_world3' is not defined

In [ ]:
def hello_world3():
    print('Hello World!')
hello_world3()

## Test your Functions!

In [40]:
1 / 0

ZeroDivisionError: division by zero

In [41]:
def do_something():
    x = 1
    y = 2
    print(x + y)
    z = 1 / 0

In [42]:
do_something()

3

ZeroDivisionError: division by zero

## Local variables

In [43]:
def add_w_and_q():
    w = 10
    q = 20
    print(f'{q} + {w} is equal to {q + w}')

In [44]:
add_w_and_q()

20 + 10 is equal to 30

In [45]:
print(w)

NameError: name 'w' is not defined

In [46]:
print(q)

NameError: name 'q' is not defined

In [47]:
def print_local_x_value():
    x = -99
    print(f'The value of x defined in the function is {x}')

In [48]:
x = 5
print_local_x_value()
print(f'The value of x defined outside the function is {x}')
x = 33
print_local_x_value()
print(f'The value of x defined outside the function is {x}')

The value of x defined in the function is -99
The value of x defined outside the function is 5
The value of x defined in the function is -99
The value of x defined outside the function is 33

In [49]:
def add_w_and_q():
    w = 10
    q = 20
    print(f'{q} + {w} is equal to {q + w}. The value of x is {x}')
    
x = 5
add_w_and_q()

20 + 10 is equal to 30. The value of x is 5

## `return` statement

In [50]:
def add_x_and_y():
    x = 1
    y = 2
    result = x + y
    return result

In [51]:
add_x_and_y()

3

In [52]:
z = add_x_and_y()

In [54]:
print(z)

3

In [56]:
print(type(z))

<class 'int'>

In [67]:
def example_return():
    x = 10
    y = 20
    
    if x == 10:
        return x
    
    if y == 20:
        return y

In [68]:
example_return()

10