# Intro to Functions

In [1]:
print('Hello World')

Hello World

In [2]:
str(12456)

'12456'

In [3]:
x = len('Hello')

In [4]:
print(x)

5

## Built-in Python Functions

### `abs()`

In [5]:
abs(5)

5

In [6]:
abs(-5)

5

### `max()` and `min()`

In [7]:
max(1,2)

2

In [8]:
min(1,2)

1

In [9]:
max(1, 2, 5, 8)

8

In [10]:
min(1, 2, 5, 8)

1

In [11]:
max([1,10,12,10,50,-10,100,-100,1000])

1000

In [12]:
min([1,10,12,10,50,-10,100,-100,1000])

-100

### `round()`

In [13]:
round(3.14)

3

In [14]:
round(2.51)

3

In [15]:
round(3.14,0)

3.0

In [16]:
round(3.1459,2)

3.15

In [17]:
round(10.12346, 4)

10.1235

### `sum()`

In [18]:
sum([1, 2, 3])

6

### `enumerate()`

In [19]:
for x in [0, 2, 4, 6, 8, 10]:
    print(x)

0
2
4
6
8
10

In [20]:
for i, x in enumerate([0, 2, 4, 6, 8, 10]):
    print(i, x)

0 0
1 2
2 4
3 6
4 8
5 10

In [21]:
for i, x in enumerate([0,2,4,6,8,10]):
    print(f'The position of the item is {i} and the value of the item is {x}.')

The position of the item is 0 and the value of the item is 0.
The position of the item is 1 and the value of the item is 2.
The position of the item is 2 and the value of the item is 4.
The position of the item is 3 and the value of the item is 6.
The position of the item is 4 and the value of the item is 8.
The position of the item is 5 and the value of the item is 10.

### `zip()`

In [22]:
x = [1, 2, 3]
y = [4, 5, 6]

for i,j in zip(x,y):
    print(i,j)

1 4
2 5
3 6

In [23]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

for a,b,c in zip(x,y,z):
    print(a,b,c)

1 4 7
2 5 8
3 6 9

# Defining your own functions

## DRY (Don’t Repeat Yourself)¶

In [24]:
name1 = 'Isaac'
age1 = 9
name2 = 'Chris'
age2 = 35
name3 = 'Joanna'
age3 = 37
name4 = 'Penelope'
age4 = 10
name5 = 'Hazel'
age5 = 7

print(f'{name1} is {age1} years old.')
print(f'{name2} is {age2} years old.')
print(f'{name3} is {age3} years old.')
print(f'{name4} is {age4} years old.')
print(f'{name5} is {age5} years old.')

Isaac is 9 years old.
Chris is 35 years old.
Joanna is 37 years old.
Penelope is 10 years old.
Hazel is 7 years old.

In [25]:
def print_person_info(name, age):
    print(f'{name} is {age} years old.')

In [26]:
name1 = 'Isaac'
age1 = 9
name2 = 'Chris'
age2 = 35
name3 = 'Joanna'
age3 = 37
name4 = 'Penelope'
age4 = 10
name5 = 'Hazel'
age5 = 7

print_person_info(name1, age1)
print_person_info(name2, age2)
print_person_info(name3, age3)
print_person_info(name4, age4)
print_person_info(name5, age5)

Isaac is 9 years old.
Chris is 35 years old.
Joanna is 37 years old.
Penelope is 10 years old.
Hazel is 7 years old.

In [27]:
def print_person_info(name, age):
    print(f'{name} is {age} years old and they are a very nice person.')

In [28]:
name1 = 'Isaac'
age1 = 9
name2 = 'Chris'
age2 = 35
name3 = 'Joanna'
age3 = 37
name4 = 'Penelope'
age4 = 10
name5 = 'Hazel'
age5 = 7

print_person_info(name1, age1)
print_person_info(name2, age2)
print_person_info(name3, age3)
print_person_info(name4, age4)
print_person_info(name5, age5)

Isaac is 9 years old and they are a very nice person.
Chris is 35 years old and they are a very nice person.
Joanna is 37 years old and they are a very nice person.
Penelope is 10 years old and they are a very nice person.
Hazel is 7 years old and they are a very nice person.

In [29]:
people = [['Issac', 9], ['Chris', 35], ['Joanna', 37], ['Penelope', 10], ['Hazel', 7]]

In [30]:
len(people)

5

In [31]:
people[0]

['Issac', 9]

In [32]:
people[-1]

['Hazel', 7]

In [33]:
people[0][0]

'Issac'

In [34]:
people[-1][1]

7

In [35]:
def print_person_info(name, age):
    print(f'{name} is {age} years old and they are a very nice person.')
    
people = [['Issac', 9], ['Chris', 35], ['Joanna', 37], ['Penelope', 10], ['Hazel', 7]] 
for person in people:
    print_person_info(person[0], person[1])

Issac is 9 years old and they are a very nice person.
Chris is 35 years old and they are a very nice person.
Joanna is 37 years old and they are a very nice person.
Penelope is 10 years old and they are a very nice person.
Hazel is 7 years old and they are a very nice person.

## Let's start simple

In [36]:
def hello_world1():
    print('Hello World!')

def hello_world2():
    print('Hello World!')

In [37]:
hello_world1()

Hello World!

In [38]:
hello_world2()

Hello World!

In [39]:
hello_world3()

NameError: name 'hello_world3' is not defined

In [40]:
def hello_world3():
    print('Hello World!')
hello_world3()

Hello World!

## Test your Functions!

In [41]:
1 / 0

ZeroDivisionError: division by zero

In [42]:
def do_something():
    x = 1
    y = 2
    print(x + y)
    z = 1 / 0

In [43]:
do_something()

3

ZeroDivisionError: division by zero

## Local variables

In [44]:
def add_w_and_q():
    w = 10
    q = 20
    print(f'{q} + {w} is equal to {q + w}')

In [45]:
add_w_and_q()

20 + 10 is equal to 30

In [46]:
print(w)

NameError: name 'w' is not defined

In [47]:
print(q)

NameError: name 'q' is not defined

In [48]:
def print_local_x_value():
    x = -99
    print(f'The value of x defined in the function is {x}')

In [49]:
x = 5
print_local_x_value()
print(f'The value of x defined outside the function is {x}')
x = 33
print_local_x_value()
print(f'The value of x defined outside the function is {x}')

The value of x defined in the function is -99
The value of x defined outside the function is 5
The value of x defined in the function is -99
The value of x defined outside the function is 33

In [50]:
def add_w_and_q():
    w = 10
    q = 20
    print(f'{q} + {w} is equal to {q + w}. The value of x is {x}')
    
x = 5
add_w_and_q()

20 + 10 is equal to 30. The value of x is 5

## `return` statement

In [51]:
def add_x_and_y():
    x = 1
    y = 2
    result = x + y
    return result

In [52]:
add_x_and_y()

3

In [53]:
z = add_x_and_y()

In [54]:
print(z)

3

In [55]:
print(type(z))

<class 'int'>

In [56]:
def example_return():
    x = 10
    y = 20
    
    if x == 10:
        return x
    
    if y == 20:
        return y

In [57]:
example_return()

10

## Positional Arguments

In [58]:
def subtract_numbers():
    x = 5
    y = 3
    return x - y

In [59]:
subtract_numbers()

2

In [60]:
def subtract_numbers(x, y):
    return x - y

In [61]:
subtract_numbers()

TypeError: subtract_numbers() missing 2 required positional arguments: 'x' and 'y'

In [62]:
subtract_numbers(10, 7)

3

In [63]:
z = subtract_numbers(10, 7)

In [64]:
type(z)

int

In [65]:
print(z)

3

In [66]:
subtract_numbers(7, 10)

-3

In [67]:
subtract_numbers(10, 20)

-10

In [68]:
subtract_numbers(20, 10)

10

In [69]:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [70]:
is_even(9)

False

In [71]:
is_even(8)

True

## Keyword Arguments

In [72]:
def subtract_numbers(x, y, z):
    result = x - y - z
    print(f'{x} take away {y} take away {z} is {result}')
    return result

In [73]:
subtract_numbers(10, 5, 3)

10 take away 5 take away 3 is 2

2

In [74]:
subtract_numbers(x=10, y=5, z=3)

10 take away 5 take away 3 is 2

2

In [75]:
subtract_numbers(10, y=5, z=3)

10 take away 5 take away 3 is 2

2

In [76]:
subtract_numbers(10, y=5, z=3)

10 take away 5 take away 3 is 2

2

In [77]:
subtract_numbers(10, 5, z=3)

10 take away 5 take away 3 is 2

2

In [78]:
subtract_numbers(z=3, x=10, y=5)

10 take away 5 take away 3 is 2

2

In [79]:
subtract_numbers(x=10, y=5, 3)

SyntaxError: positional argument follows keyword argument (<ipython-input-79-6f8bb9d316a4>, line 1)

## Default arguments

In [80]:
def cost_after_tax(cost_before_tax, tax_rate):
    total_cost = cost_before_tax + tax_rate * cost_before_tax
    return total_cost

In [81]:
cost_after_tax(100, 0.15)

115.0

In [82]:
cost_after_tax(cost_before_tax=100, tax_rate=0.15)

115.0

In [83]:
cost_after_tax(tax_rate=0.15, cost_before_tax=100)

115.0

In [84]:
cost_after_tax(tax_rate=0.25, cost_before_tax=1000)

1250.0

In [85]:
cost_after_tax(100, tax_rate=0.35)

135.0

In [86]:
def cost_after_tax(cost_before_tax, tax_rate=0.15):
    total_cost = cost_before_tax + tax_rate * cost_before_tax
    return total_cost

In [87]:
cost_after_tax(100)

115.0

In [88]:
cost_after_tax(cost_before_tax=100)

115.0

In [89]:
cost_after_tax()

TypeError: cost_after_tax() missing 1 required positional argument: 'cost_before_tax'

In [90]:
cost_after_tax(100, tax_rate=0.2)

120.0

In [91]:
# you can not put default argument before a non default argument
def cost_after_tax(cost_before_tax=100, tax_rate):
    total_cost = cost_before_tax + tax_rate * cost_before_tax
    return total_cost

SyntaxError: non-default argument follows default argument (<ipython-input-91-879d2e4db099>, line 2)

## Docstrings

In [12]:
def my_func(a, b, c):
    """One line intro.
    
    Longer description here.
    
    :param int a: description for parameter/argument a
    :param int b: description for parameter/argument b
    :param int c: description for parameter/argument c
    :return: description of the return value
    """
    return a + b + c

In [13]:
help(my_func)

Help on function my_func in module __main__:

my_func(a, b, c)
    One line intro.

    Longer description here.

    :param int a: description for parameter/argument a
    :param int b: description for parameter/argument b
    :param int c: description for parameter/argument c
    :return: description of the return value

## Example 1

In [17]:
def greeting(name, message):
    """Print a simple greeting message.
    
    :param str name: The name of the person to greet.
    :param str message: A simple message to print to the user
    """
    print(f'Hello {name}')
    print(message)

In [18]:
help(greeting)

Help on function greeting in module __main__:

greeting(name, message)
    Print a simple greeting message.

    :param str name: The name of the person to greet.
    :param str message: A simple message to print to the user

In [19]:
greeting('Chris', 'Good morning! I hope you have a great day!')

Hello Chris
Good morning! I hope you have a great day!

In [20]:
greeting(message='Do not forget your lunch today for school.', name='Isaac')

Hello Isaac
Do not forget your lunch today for school.

In [21]:
greeting('Hazel', message='Good Bye!')

Hello Hazel
Good Bye!

## Example 2

In [22]:
def area_circle(radius):
    """Computes the area of a circle"""
    
    pi = 3.1459
    area = pi * radius * radius
    return area

In [23]:
area_circle(2.5)

19.661875000000002

In [24]:
area_circle(radius=1)

3.1459

## Example 3

In [28]:
import random
random.randint(0,10)

7

In [30]:
random.randint(100,1000000)

312971

In [35]:
[random.randint(0,10),random.randint(0,10),random.randint(0,10),random.randint(0,10)]

[1, 4, 10, 10]

In [36]:
# above was just some practice/reminder.
# now lets write the function

In [37]:
def generate_random_list(list_length, minimum, maximum):
    list_of_numbers = []
    for i in range(list_length):
        random_int = random.randint(minimum, maximum)
        list_of_numbers.append(random_int)
    return list_of_numbers

In [42]:
generate_random_list(7, 0, 10)

[1, 8, 2, 3, 3, 4, 5]

In [47]:
generate_random_list(list_length=10, minimum=100, maximum=109)

[106, 109, 107, 100, 106, 108, 108, 101, 103, 102]

In [50]:
generate_random_list(2, 100000, maximum=200000)

[161606, 196028]

## Example 4
Examples of prime numbers.

2,3,5,7,11,13,17,19,23,29....

In [18]:
def is_prime(number):
    """Determines if a number is prime or not.
    
    :param int number: any integer greater than 1.
    """
    
    if number <= 3:
        return True
    
    for i in range(2, number):
        if number % i == 0:
            return False
    
    return True
    
def find_primes_up_to(up_to=100):
    primes = []
    for i in range(2, up_to + 1):
        if is_prime(i):
            primes.append(i)
    return primes

def find_first_n_primes(n=100):
    primes = []
    i = 2
    while len(primes) < n:
        if is_prime(i):
            primes.append(i)
        i += 1 # i = i + 1
    
    return primes

In [19]:
is_prime(2)

True

In [20]:
is_prime(3)

True

In [21]:
is_prime(4)

False

In [22]:
is_prime(53)

True

In [23]:
is_prime(100)

False

In [24]:
find_primes_up_to()

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [25]:
find_primes_up_to(40)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [26]:
find_primes_up_to(10000)[-5:]

[9931, 9941, 9949, 9967, 9973]

In [27]:
find_first_n_primes(10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [28]:
find_first_n_primes(20)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

In [31]:
find_first_n_primes(1000)[-1] # the 1000th prime

7919