# Intro to Loops

## For Loop

```
for <var> in <iterable>:
    block_of_statements
```

In [1]:
family_names = ['Chris', 'Joanna', 'Penelope', 'Isaac', 'Hazel']
print(family_names)

['Chris', 'Joanna', 'Penelope', 'Isaac', 'Hazel']

In [2]:
print(family_names[0])
print(family_names[1])
print(family_names[2])
print(family_names[3])
print(family_names[4])

Chris
Joanna
Penelope
Isaac
Hazel

In [3]:
for name in family_names:
     print(name)

Chris
Joanna
Penelope
Isaac
Hazel

In [4]:
name

'Hazel'

In [5]:
print(name)

Hazel

In [6]:
print(type(name))

<class 'str'>

In [7]:
for x in family_names:
    print(x)

Chris
Joanna
Penelope
Isaac
Hazel

In [8]:
family_names

['Chris', 'Joanna', 'Penelope', 'Isaac', 'Hazel']

In [9]:
for name in family_names:
    print(f'{name} is a person in my family.')
    print(f'Their full name is {name} Levy.')
    print('1 + 1 is 2')
    1 + 4
print('DONE')

Chris is a person in my family.
Their full name is Chris Levy.
1 + 1 is 2
Joanna is a person in my family.
Their full name is Joanna Levy.
1 + 1 is 2
Penelope is a person in my family.
Their full name is Penelope Levy.
1 + 1 is 2
Isaac is a person in my family.
Their full name is Isaac Levy.
1 + 1 is 2
Hazel is a person in my family.
Their full name is Hazel Levy.
1 + 1 is 2
DONE

In [10]:
hello = 'Hello World'
print(hello)

Hello World

In [11]:
for letter in hello:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [12]:
for letter in hello[::-1]:
    print(letter)

d
l
r
o
W

o
l
l
e
H

In [13]:
for x in [1,2,3]:
    print(f'hello {x}')

hello 1
hello 2
hello 3

## Appending In Loops

In [14]:
numbers = [9, 6, 4, 3, 6, 10, 12 ,65, 8, 4, -10, -6, 7, -8]
new_numbers = []

for num in numbers:
    if num > 6:
        print(f'Adding the item {num} to the list new_numbers')
        new_numbers.append(num)
        print(f'The list new_numbers is now {new_numbers}')

Adding the item 9 to the list new_numbers
The list new_numbers is now [9]
Adding the item 10 to the list new_numbers
The list new_numbers is now [9, 10]
Adding the item 12 to the list new_numbers
The list new_numbers is now [9, 10, 12]
Adding the item 65 to the list new_numbers
The list new_numbers is now [9, 10, 12, 65]
Adding the item 8 to the list new_numbers
The list new_numbers is now [9, 10, 12, 65, 8]
Adding the item 7 to the list new_numbers
The list new_numbers is now [9, 10, 12, 65, 8, 7]

In [15]:
new_numbers

[9, 10, 12, 65, 8, 7]

### getting unique numbers

In [16]:
numbers = [1,1,1,2,6,7,8,8,8,8,10,10,10,9,9,9,0,0,0,2,2,3,3,3,4,5]

In [17]:
unique_numbers = []

for x in numbers:
    print(unique_numbers) # optional. Just for understanding.
    if x not in unique_numbers:
        unique_numbers.append(x)
        

print(f'There are {len(unique_numbers)} unique numbers and they are {unique_numbers}')

[]
[1]
[1]
[1]
[1, 2]
[1, 2, 6]
[1, 2, 6, 7]
[1, 2, 6, 7, 8]
[1, 2, 6, 7, 8]
[1, 2, 6, 7, 8]
[1, 2, 6, 7, 8]
[1, 2, 6, 7, 8, 10]
[1, 2, 6, 7, 8, 10]
[1, 2, 6, 7, 8, 10]
[1, 2, 6, 7, 8, 10, 9]
[1, 2, 6, 7, 8, 10, 9]
[1, 2, 6, 7, 8, 10, 9]
[1, 2, 6, 7, 8, 10, 9, 0]
[1, 2, 6, 7, 8, 10, 9, 0]
[1, 2, 6, 7, 8, 10, 9, 0]
[1, 2, 6, 7, 8, 10, 9, 0]
[1, 2, 6, 7, 8, 10, 9, 0]
[1, 2, 6, 7, 8, 10, 9, 0, 3]
[1, 2, 6, 7, 8, 10, 9, 0, 3]
[1, 2, 6, 7, 8, 10, 9, 0, 3]
[1, 2, 6, 7, 8, 10, 9, 0, 3, 4]
There are 11 unique numbers and they are [1, 2, 6, 7, 8, 10, 9, 0, 3, 4, 5]

## `range()`

In [18]:
for i in [0,1,2,3,4,5,6,7,8,9]:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for num in range(5):
    print(num)

0
1
2
3
4

In [21]:
for x in range(10, 20):
    print(x)

10
11
12
13
14
15
16
17
18
19

In [22]:
for x in range(5, 15, 2):
    print(x)

5
7
9
11
13

In [23]:
# example of adding up numbers from 1 to 100. answer = 1 + 2 + 3 + 4 + 5 + 6 + ... + 100

In [24]:
# here is the idea ...

# answer = 0
# answer = answer + 1
# answer = answer + 2
# answer = answer + 3
# answer = answer + 4
#.
#.
#.
#.
#.
# answer = answer + 100
# print(answer)

In [25]:
answer = 0
for i in range(1,101):
    answer = answer + i
print(answer)

5050

## Nested Loops

In [26]:
for i in range(4):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

In [27]:
# multiplication table

for i in range(10):
    for j in range(10):
        print(f'{i} multiplied by {j} is {i * j}')
        print('-----------------------')

0 multiplied by 0 is 0
-----------------------
0 multiplied by 1 is 0
-----------------------
0 multiplied by 2 is 0
-----------------------
0 multiplied by 3 is 0
-----------------------
0 multiplied by 4 is 0
-----------------------
0 multiplied by 5 is 0
-----------------------
0 multiplied by 6 is 0
-----------------------
0 multiplied by 7 is 0
-----------------------
0 multiplied by 8 is 0
-----------------------
0 multiplied by 9 is 0
-----------------------
1 multiplied by 0 is 0
-----------------------
1 multiplied by 1 is 1
-----------------------
1 multiplied by 2 is 2
-----------------------
1 multiplied by 3 is 3
-----------------------
1 multiplied by 4 is 4
-----------------------
1 multiplied by 5 is 5
-----------------------
1 multiplied by 6 is 6
-----------------------
1 multiplied by 7 is 7
-----------------------
1 multiplied by 8 is 8
-----------------------
1 multiplied by 9 is 9
-----------------------
2 multiplied by 0 is 0
-----------------------
2 multiplied by 1 is 2
-----------------------
2 multiplied by 2 is 4
-----------------------
2 multiplied by 3 is 6
-----------------------
2 multiplied by 4 is 8
-----------------------
2 multiplied by 5 is 10
-----------------------
2 multiplied by 6 is 12
-----------------------
2 multiplied by 7 is 14
-----------------------
2 multiplied by 8 is 16
-----------------------
2 multiplied by 9 is 18
-----------------------
3 multiplied by 0 is 0
-----------------------
3 multiplied by 1 is 3
-----------------------
3 multiplied by 2 is 6
-----------------------
3 multiplied by 3 is 9
-----------------------
3 multiplied by 4 is 12
-----------------------
3 multiplied by 5 is 15
-----------------------
3 multiplied by 6 is 18
-----------------------
3 multiplied by 7 is 21
-----------------------
3 multiplied by 8 is 24
-----------------------
3 multiplied by 9 is 27
-----------------------
4 multiplied by 0 is 0
-----------------------
4 multiplied by 1 is 4
-----------------------
4 multiplied by 2 is 8
-----------------------
4 multiplied by 3 is 12
-----------------------
4 multiplied by 4 is 16
-----------------------
4 multiplied by 5 is 20
-----------------------
4 multiplied by 6 is 24
-----------------------
4 multiplied by 7 is 28
-----------------------
4 multiplied by 8 is 32
-----------------------
4 multiplied by 9 is 36
-----------------------
5 multiplied by 0 is 0
-----------------------
5 multiplied by 1 is 5
-----------------------
5 multiplied by 2 is 10
-----------------------
5 multiplied by 3 is 15
-----------------------
5 multiplied by 4 is 20
-----------------------
5 multiplied by 5 is 25
-----------------------
5 multiplied by 6 is 30
-----------------------
5 multiplied by 7 is 35
-----------------------
5 multiplied by 8 is 40
-----------------------
5 multiplied by 9 is 45
-----------------------
6 multiplied by 0 is 0
-----------------------
6 multiplied by 1 is 6
-----------------------
6 multiplied by 2 is 12
-----------------------
6 multiplied by 3 is 18
-----------------------
6 multiplied by 4 is 24
-----------------------
6 multiplied by 5 is 30
-----------------------
6 multiplied by 6 is 36
-----------------------
6 multiplied by 7 is 42
-----------------------
6 multiplied by 8 is 48
-----------------------
6 multiplied by 9 is 54
-----------------------
7 multiplied by 0 is 0
-----------------------
7 multiplied by 1 is 7
-----------------------
7 multiplied by 2 is 14
-----------------------
7 multiplied by 3 is 21
-----------------------
7 multiplied by 4 is 28
-----------------------
7 multiplied by 5 is 35
-----------------------
7 multiplied by 6 is 42
-----------------------
7 multiplied by 7 is 49
-----------------------
7 multiplied by 8 is 56
-----------------------
7 multiplied by 9 is 63
-----------------------
8 multiplied by 0 is 0
-----------------------
8 multiplied by 1 is 8
-----------------------
8 multiplied by 2 is 16
-----------------------
8 multiplied by 3 is 24
-----------------------
8 multiplied by 4 is 32
-----------------------
8 multiplied by 5 is 40
-----------------------
8 multiplied by 6 is 48
-----------------------
8 multiplied by 7 is 56
-----------------------
8 multiplied by 8 is 64
-----------------------
8 multiplied by 9 is 72
-----------------------
9 multiplied by 0 is 0
-----------------------
9 multiplied by 1 is 9
-----------------------
9 multiplied by 2 is 18
-----------------------
9 multiplied by 3 is 27
-----------------------
9 multiplied by 4 is 36
-----------------------
9 multiplied by 5 is 45
-----------------------
9 multiplied by 6 is 54
-----------------------
9 multiplied by 7 is 63
-----------------------
9 multiplied by 8 is 72
-----------------------
9 multiplied by 9 is 81
-----------------------

## `break` statement

In [28]:
for i in range(10):
    print(i) # only executed with i = 0
    break # breaks out of the loop
    
print('I am done')

0
I am done

In [29]:
# another example

some_stuff = [1, 9, 5, 7, 5.53, 5, 0, 'a', 'b', True, False]

In [30]:
print('starting the search')
for x in some_stuff:
    print(x)
    if x == 0:
        break

starting the search
1
9
5
7
5.53
5
0

## `continue` statement

In [31]:
# simple example first

for i in range(4):
    print(f'The number is {i}')
    if i == 2:
        continue
    print(f'When we add 1 to {i} we get {i + 1}')

The number is 0
When we add 1 to 0 we get 1
The number is 1
When we add 1 to 1 we get 2
The number is 2
The number is 3
When we add 1 to 3 we get 4

In [32]:
# another example
print(some_stuff)

[1, 9, 5, 7, 5.53, 5, 0, 'a', 'b', True, False]

In [33]:
print('starting the loop')
for thing in some_stuff:
    if thing == 'a' or thing == 'b' or thing == 5.53:
        continue
    print(thing)
print('ending the loop')

starting the loop
1
9
5
7
5
0
True
False
ending the loop

## `while` loop

In [34]:
print('start')
i = 0
while i < 10:
    print(f'{i} is less than 10')
    i = i + 1
print('end')

start
0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10
end

In [35]:
i = -1

while i > 0: # never True
    print(i)

In [36]:
while i < 0:
    print('a')
    i = 10

a

In [37]:
# break statement example
print('starting')
n = 10
while n > 0:
    n = n - 1
    if n == 3 or n == 1:
        break
    print(n)
print('ending')

starting
9
8
7
6
5
4
ending

In [38]:
# continue statement example
print('starting')
n = 10
while n > 0:
    n = n - 1
    if n == 3 or n == 1:
        continue
    print(n)
print('ending')

starting
9
8
7
6
5
4
2
0
ending

In [39]:
# this is an infinite loop. Dont do this!
# x = 1
# while x > 0:
#     print(x)
#     x = x + 1

## `pass` statement

In [46]:
a = 2
if a == 2:
    # TODO: write this code later
    pass

print('I am done')

I am done

In [54]:
for i in range(10):
    if i > 5:
        print(i)
    else:
        # TODO: come back to this code later
        pass

6
7
8
9