# Intro to Lists

In [1]:
fruits = ['apple', 'orange', 'banana']
numbers = [1, 2, 3, 4]

In [2]:
type(fruits)

list

In [3]:
type(numbers)

list

In [4]:
another_list = ['hello world', 3.1459, -10, 0, 'hey', 1 + 5, True, False]
print(type(another_list))
print(another_list)

<class 'list'>
['hello world', 3.1459, -10, 0, 'hey', 6, True, False]

In [5]:
[]

[]

In [6]:
[1, 2, 1, 1,2,2,2,2,'chris','hello',True,False,False,True,True,2,2,2]

[1,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 'chris',
 'hello',
 True,
 False,
 False,
 True,
 True,
 2,
 2,
 2]

## List Indexing and Slicing

In [7]:
print(fruits)

['apple', 'orange', 'banana']

In [8]:
fruits[0]

'apple'

In [9]:
fruits[1]

'orange'

In [10]:
fruits[2]

'banana'

In [11]:
fruits[-1]

'banana'

In [12]:
fruits[-2]

'orange'

In [13]:
fruits[0:2]

['apple', 'orange']

In [14]:
fruits[:2]

['apple', 'orange']

In [15]:
fruits[0:10]

['apple', 'orange', 'banana']

In [16]:
# fruits[10] will return an index error

In [17]:
print(another_list)

['hello world', 3.1459, -10, 0, 'hey', 6, True, False]

In [18]:
another_list[::2]

['hello world', -10, 'hey', True]

In [19]:
another_list[::-1]

[False, True, 6, 'hey', 0, -10, 3.1459, 'hello world']

## `len()` function

In [20]:
print(numbers)
print(len(numbers))

[1, 2, 3, 4]
4

In [21]:
print(another_list)
print(len(another_list))

['hello world', 3.1459, -10, 0, 'hey', 6, True, False]
8

In [22]:
x = 'Hello World !'
print(len(x))

13

## `append()` to List

- lists are **mutable**
- **mutable** object can be changed after it is created. For example (list)
- **immutable** object can not. For example (integer, string, and float objects)

In [23]:
my_list = ['sunny day', -5]
print(len(my_list))
print(my_list)

2
['sunny day', -5]

In [24]:
my_list.append(2.71)

In [25]:
my_list

['sunny day', -5, 2.71]

In [26]:
len(my_list)

3

In [27]:
my_list.append('bye')

In [28]:
my_list

['sunny day', -5, 2.71, 'bye']

In [29]:
len(my_list)

4

In [30]:
list1 = [1,2,3]
list2 = list1
print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]

In [31]:
list1 = [1,2,3] + [4]

In [32]:
list2

[1, 2, 3]

## List Concatenation with `+`

In [33]:
a = [1,2,3]
b = [4,5,6]
c = a + b

In [34]:
c

[1, 2, 3, 4, 5, 6]

In [35]:
print(a)
print(b)
print(c)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [36]:
c = a + a + a + a
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## `extend()` method

In [37]:
print(f'a is {a}')
print(f'b is {b}')

a is [1, 2, 3]
b is [4, 5, 6]

In [38]:
a.extend(b)

In [39]:
a

[1, 2, 3, 4, 5, 6]

In [40]:
b

[4, 5, 6]

## Lists are Mutable

In [41]:
list1 = [1,2,3]
list2 = list1

In [42]:
print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]

In [43]:
list2.append(99)

In [44]:
list2

[1, 2, 3, 99]

In [45]:
list1

[1, 2, 3, 99]

In [46]:
list1.append(100)

In [47]:
list1

[1, 2, 3, 99, 100]

In [48]:
list2

[1, 2, 3, 99, 100]

In [49]:
# another example with .extend

In [50]:
list1 = [1,2,3]
list2 = list1

print(list1)
print(list2)

list2.extend([4,5,6])

[1, 2, 3]
[1, 2, 3]

In [51]:
print(list2)

[1, 2, 3, 4, 5, 6]

In [52]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [53]:
# another example using + operator

In [54]:
list1 = [1,2,3]
list2 = list1

print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]

In [55]:
list2 = list1 + [4,5,6] # + operator creates a NEW object

In [56]:
list2

[1, 2, 3, 4, 5, 6]

In [57]:
list1

[1, 2, 3]

In [58]:
my_list

['sunny day', -5, 2.71, 'bye']

## Membership Operators (`in`, `not in`)

In [59]:
print(my_list)

['sunny day', -5, 2.71, 'bye']

In [60]:
-2 in my_list

False

In [61]:
-2 not in my_list

True

In [62]:
4 in my_list

False

In [63]:
4 not in my_list

True

In [64]:
'sunny day' in my_list

True

In [65]:
'sunny day' not in my_list

False

In [66]:
2.71 in my_list

True

In [67]:
2.71 not in my_list

False

In [68]:
name = 2.71 # try with 'chris' and 2.71
if name in my_list:
    print(f'{name} is IN the list {my_list}')
else:
    print(f'{name} is NOT IN the list {my_list}')

2.71 is IN the list ['sunny day', -5, 2.71, 'bye']

In [69]:
# also works with strings

In [70]:
s = 'chris is nice'

In [71]:
'chris' in s

True

In [72]:
'Chris' in s

False

In [73]:
'is  ' in s

False

In [74]:
'is  ' not in s

True

## Change Item Value in List

In [75]:
print(my_list)

['sunny day', -5, 2.71, 'bye']

In [76]:
print(my_list[1])

-5

In [78]:
my_list[1] = 5

In [79]:
print(my_list)

['sunny day', 5, 2.71, 'bye']

In [80]:
my_list[-1] = 'chris'

In [81]:
my_list

['sunny day', 5, 2.71, 'chris']

In [82]:
my_list.append(5 * 6)

In [83]:
my_list

['sunny day', 5, 2.71, 'chris', 30]

In [84]:
new_list = [1,2,3]

In [85]:
my_list.append(new_list)

In [86]:
my_list

['sunny day', 5, 2.71, 'chris', 30, [1, 2, 3]]

In [87]:
my_list[-1]

[1, 2, 3]

In [89]:
my_list[-1].append(4)

In [91]:
my_list

['sunny day', 5, 2.71, 'chris', 30, [1, 2, 3, 4]]

In [93]:
new_list

[1, 2, 3, 4]

In [94]:
my_list

['sunny day', 5, 2.71, 'chris', 30, [1, 2, 3, 4]]

In [95]:
my_list[3] = 'CHRIS'

In [96]:
my_list

['sunny day', 5, 2.71, 'CHRIS', 30, [1, 2, 3, 4]]