# Intro to Classes

## Defining Classes

In [1]:
class Person:
    def __init__(self, first_name, last_name, height, birth_date):
        self.first_name = first_name
        self.last_name = last_name
        self.height = height
        self.birth_date = birth_date

In [2]:
p1 = Person('Chris', 'Levy', 6, 1985)

In [3]:
p1

In [4]:
type(p1)

In [5]:
p1.first_name

'Chris'

In [6]:
p1.birth_date

1985

In [7]:
p1.last_name

'Levy'

In [8]:
p1.height

6

In [9]:
p2 = Person('Joanna', 'Levy', 5.5, 1983)

In [10]:
p2.first_name

'Joanna'

In [11]:
p2.last_name

'Levy'

In [12]:
import datetime
class Person:
    def __init__(self, first_name, last_name, height, birth_date):
        self.first_name = first_name
        self.last_name = last_name
        self.height = height
        self.birth_date = birth_date
    
    def age(self):
        todays_date = datetime.date.today()
        return todays_date.year - self.birth_date

In [13]:
p1 = Person(first_name='Chris', last_name='Levy', height=6, birth_date=1985)

In [14]:
p1.last_name

'Levy'

In [15]:
p1.age()

36

In [16]:
p2 = Person(first_name='Joanna', last_name='Levy', height=5.7, birth_date=1983)

In [17]:
p2.age()

38

In [18]:
print(f'{p1.first_name} {p1.last_name} is {p1.height} feet tall and is {p1.age()} years old.')

Chris Levy is 6 feet tall and is 36 years old.

In [19]:
print(f'{p2.first_name} {p2.last_name} is {p2.height} feet tall and is {p2.age()} years old.')

Joanna Levy is 5.7 feet tall and is 38 years old.

In [20]:
import datetime
class Person:
    def __init__(self, first_name, last_name, height, birth_date):
        self.first_name = first_name
        self.last_name = last_name
        self.height = height
        self.birth_date = birth_date
    
    def age(self):
        todays_date = datetime.date.today()
        return todays_date.year - self.birth_date
    
    def print_details(self):
        age = self.age()
        print(f'{self.first_name} {self.last_name} is '
              f'{self.height} feet tall and is {age} years old.')

In [21]:
p1 = Person(first_name='Chris', last_name='Levy', height=6, birth_date=1985)
p2 = Person(first_name='Joanna', last_name='Levy', height=5.7, birth_date=1983)

In [22]:
p1.print_details()
p2.print_details()

Chris Levy is 6 feet tall and is 36 years old.
Joanna Levy is 5.7 feet tall and is 38 years old.

## Changing Class Instance Attributes

In [23]:
p1.first_name

'Chris'

In [24]:
p1.last_name

'Levy'

In [25]:
p1.first_name = 'Isaac'

In [26]:
p1.birth_date = 2011

In [27]:
p1.height = 4.5

In [28]:
p1.print_details()

Isaac Levy is 4.5 feet tall and is 10 years old.

## Bank Account Example

In [29]:
class BankAccount:
    def __init__(self, name):
        self.name = name
        self.balance = 0
        self.transaction_history = []

In [30]:
account = BankAccount('Chris Levy')

In [31]:
print(account.name, account.balance, account.transaction_history)

Chris Levy 0 []

In [32]:
class BankAccount:
    def __init__(self, name):
        self.name = name
        self.balance = 0
        self.transaction_history = []
    
    def deposit(self, amount):
        self.balance = self.balance + amount

In [33]:
account = BankAccount('Chris Levy')
print(account.name, account.balance, account.transaction_history)

Chris Levy 0 []

In [34]:
account.deposit(100)

In [35]:
print(account.name, account.balance, account.transaction_history)

Chris Levy 100 []

In [36]:
account.deposit(30)

In [37]:
print(account.name, account.balance, account.transaction_history)

Chris Levy 130 []

In [38]:
account.deposit(22)
print(account.name, account.balance, account.transaction_history)

Chris Levy 152 []

In [39]:
account2 = BankAccount('Isaac')

In [40]:
account2.deposit(10)

In [41]:
print(account2.name, account2.balance, account2.transaction_history)

Isaac 10 []

In [42]:
print(account.name, account.balance, account.transaction_history)

Chris Levy 152 []

In [43]:
from datetime import datetime

class BankAccount:
    def __init__(self, name):
        self.name = name
        self.balance = 0
        self.transaction_history = []
    
    def deposit(self, amount, details=None):
        self.balance = self.balance + amount
        now = datetime.now()
        transaction = {'amount': amount,
                      'type': 'deposit',
                      'details': details,
                      'date': now.strftime("%Y/%m/%d/ %H:%M:%S")} # format date as string
        self.transaction_history.append(transaction)

In [44]:
account = BankAccount('Chris')

In [45]:
print(account.name, account.balance, account.transaction_history)

Chris 0 []

In [46]:
account.deposit(10000, 'Setting up my account.')

In [47]:
account.balance

10000

In [48]:
account.transaction_history

[{'amount': 10000,
  'type': 'deposit',
  'details': 'Setting up my account.',
  'date': '2021/01/23/ 08:06:39'}]

In [49]:
account.deposit(100, 'money I got as a gift')

In [50]:
account.balance

10100

In [51]:
account.transaction_history

[{'amount': 10000,
  'type': 'deposit',
  'details': 'Setting up my account.',
  'date': '2021/01/23/ 08:06:39'},
 {'amount': 100,
  'type': 'deposit',
  'details': 'money I got as a gift',
  'date': '2021/01/23/ 08:06:39'}]

In [52]:
account.deposit(3000)

In [53]:
account.transaction_history

[{'amount': 10000,
  'type': 'deposit',
  'details': 'Setting up my account.',
  'date': '2021/01/23/ 08:06:39'},
 {'amount': 100,
  'type': 'deposit',
  'details': 'money I got as a gift',
  'date': '2021/01/23/ 08:06:39'},
 {'amount': 3000,
  'type': 'deposit',
  'details': None,
  'date': '2021/01/23/ 08:06:39'}]

In [54]:
from datetime import datetime

class BankAccount:
    def __init__(self, name):
        self.name = name
        self.balance = 0
        self.transaction_history = []
    
    def deposit(self, amount, details=None):
        self.balance = self.balance + amount
        now = datetime.now()
        transaction = {'amount': amount,
                      'type': 'deposit',
                      'details': details,
                      'date': now.strftime("%Y/%m/%d/ %H:%M:%S")} # format date as string
        self.transaction_history.append(transaction)
    
    def withdrawal(self, amount, details=None):
        new_balance = self.balance - amount
        if new_balance < 0:
            print(f'Sorry! You only have ${self.balance} in your account.')
            print(f'You can not complete a transaction of ${amount} at this time')
            return
        
        self.balance = new_balance
        now = datetime.now()
        transaction = {
            'amount': -1 * amount,
            'type': 'withdrawal',
            'details': details,
            'date': now.strftime("%Y/%m/%d/ %H:%M:%S") # format date as string
        }
        self.transaction_history.append(transaction)

In [55]:
account = BankAccount('Chris')

In [56]:
account.deposit(100)
account.deposit(200)
account.deposit(300)

In [57]:
account.balance

600

In [58]:
account.withdrawal(400)

In [59]:
account.balance

200

In [60]:
account.withdrawal(201)

Sorry! You only have $200 in your account.
You can not complete a transaction of $201 at this time

In [61]:
account.transaction_history

[{'amount': 100,
  'type': 'deposit',
  'details': None,
  'date': '2021/01/23/ 08:06:39'},
 {'amount': 200,
  'type': 'deposit',
  'details': None,
  'date': '2021/01/23/ 08:06:39'},
 {'amount': 300,
  'type': 'deposit',
  'details': None,
  'date': '2021/01/23/ 08:06:39'},
 {'amount': -400,
  'type': 'withdrawal',
  'details': None,
  'date': '2021/01/23/ 08:06:39'}]

## Class Variables and Methods

In [62]:
class TransitBus:
    def __init__(self, identifier):
        self.identifier = identifier
        self.num_passengers = 0
    
    def add_passengers(self, number):
        self.num_passengers += number
    
    def remove_passengers(self, number):
        self.num_passengers -= number

In [63]:
bus1 = TransitBus(1)
bus2 = TransitBus(2)
bus3 = TransitBus(3)

bus1.add_passengers(5)
bus2.add_passengers(4)
bus3.add_passengers(13)
bus2.remove_passengers(1)

In [64]:
bus2.identifier

2

In [65]:
bus2.num_passengers

3

In [66]:
class TransitBus:
    total_num_passengers = 0
    total_num_buses = 0
    
    def __init__(self, identifier):
        self.identifier = identifier
        self.num_passengers = 0
    
    def add_passengers(self, number):
        self.num_passengers += number
    
    def remove_passengers(self, number):
        self.num_passengers -= number

In [67]:
TransitBus.total_num_passengers

0

In [68]:
TransitBus.total_num_buses

0

In [69]:
b1 = TransitBus(1)

In [70]:
b1.num_passengers

0

In [71]:
b1.identifier

1

In [72]:
b1.total_num_passengers

0

In [73]:
b1.total_num_buses

0

In [74]:
print('bus1 info')
b1 = TransitBus(1)
b1.add_passengers(10)
b1.remove_passengers(3)
print(b1.identifier)
print(b1.num_passengers)

print('bus2 info')
b2 = TransitBus(2)
b2.add_passengers(20)
b2.remove_passengers(15)
print(b2.identifier)
print(b2.num_passengers)

bus1 info
1
7
bus2 info
2
5

In [75]:
b1.total_num_buses

0

In [76]:
b1.total_num_passengers

0

In [77]:
b2.total_num_buses

0

In [78]:
b2.total_num_passengers

0

In [79]:
class TransitBus:
    total_num_passengers = 0
    total_num_buses = 0
    
    def __init__(self, identifier):
        self.identifier = identifier
        self.num_passengers = 0
        TransitBus.total_num_buses += 1
    
    def add_passengers(self, number):
        self.num_passengers += number
        TransitBus.total_num_passengers += number
    
    def remove_passengers(self, number):
        self.num_passengers -= number
        TransitBus.total_num_passengers -= number

In [80]:
print('bus1 info')
b1 = TransitBus(1)
b1.add_passengers(10)
b1.remove_passengers(3)
print(b1.identifier)
print(b1.num_passengers)

print('bus2 info')
b2 = TransitBus(2)
b2.add_passengers(20)
b2.remove_passengers(15)
print(b2.identifier)
print(b2.num_passengers)

bus1 info
1
7
bus2 info
2
5

In [81]:
TransitBus.total_num_buses

2

In [82]:
TransitBus.total_num_passengers

12

In [83]:
b1.num_passengers

7

In [84]:
b1.total_num_buses

2

In [85]:
b2.total_num_buses

2

In [86]:
print(b1.total_num_buses)
print(b1.total_num_passengers)
print(b2.total_num_buses)
print(b2.total_num_passengers)

2
12
2
12

In [87]:
b3 = TransitBus(3)

In [88]:
b3.add_passengers(35)

In [89]:
TransitBus.total_num_passengers

47

In [90]:
TransitBus.total_num_buses

3

In [91]:
b3.total_num_buses

3

In [92]:
class TransitBus:
    total_num_passengers = 0
    total_num_buses = 0
    transit_system = {}
    
    def __init__(self, identifier):
        self.identifier = identifier
        self.num_passengers = 0
        TransitBus.total_num_buses += 1
        self.update_bus_in_system()
    
    def update_bus_in_system(self):
        TransitBus.transit_system[self.identifier] = {'num_passengers': self.num_passengers}
    
    def add_passengers(self, number):
        self.num_passengers += number
        TransitBus.total_num_passengers += number
        self.update_bus_in_system()
    
    def remove_passengers(self, number):
        self.num_passengers -= number
        TransitBus.total_num_passengers -= number
        self.update_bus_in_system()

In [93]:
TransitBus.total_num_buses

0

In [94]:
TransitBus.total_num_passengers

0

In [95]:
TransitBus.transit_system

{}

In [96]:
b1 = TransitBus(1)
b2 = TransitBus(2)
b3 = TransitBus(3)

In [97]:
TransitBus.transit_system

{1: {'num_passengers': 0}, 2: {'num_passengers': 0}, 3: {'num_passengers': 0}}

In [98]:
b1.add_passengers(10)
b2.add_passengers(20)
b3.add_passengers(30)

In [99]:
TransitBus.transit_system

{1: {'num_passengers': 10},
 2: {'num_passengers': 20},
 3: {'num_passengers': 30}}

In [100]:
b1.remove_passengers(5)
b2.remove_passengers(5)
b3.remove_passengers(5)

In [101]:
TransitBus.transit_system

{1: {'num_passengers': 5},
 2: {'num_passengers': 15},
 3: {'num_passengers': 25}}

In [102]:
TransitBus.total_num_passengers

45

In [103]:
b2.num_passengers

15

In [104]:
b2.total_num_passengers

45